<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        为net.dpwl.pojo包下的所有类设置别名，别名就是类名，不区分大小写-->
        <package name="net.dpwl.pojo"/>
    </typeAliases>
    <environments default="development">
<!--开发环境配置，可以配置多个数据库，通过修改default属性来切换数据库-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
<!--                数据库连接信息-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/myyunmengfayuan?useSSL=false&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="H3u94c94kod0UjGuNmkfmqw0JMJRMF"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/myyunmengfayuan?useSSL=false&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="H3u94c94kod0UjGuNmkfmqw0JMJRMF"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        加载sql映射文件-->
<!--        <mapper resource="net/dpwl/mapper/UserMapper.xml"/>-->
<!--        mapper代理方法，可以使用包扫描，来简化配置，自动加载包路径下所有的sql映射文件-->
            <package name="net.dpwl.mapper"/>
    </mappers>
</configuration>